[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Trolly/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Trolly/products-ms.git
[submodule "Orders-ms"]
	path = Orders-ms
	url = https://github.com/Nest-Microservices-Trolly/Orders-ms.git
